<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Inventory APP - {{listName}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <main class="section">
    <div class=container>
      <h1 class="title">Inventory DB - {{listName}}</h1>
      <hr>
      <div class=content>
        {{!-- <form action="/list/{{listUUID}}/new-item" method="POST">
          <fieldset>
            <input type="text" name="description">
            <input type="submit" value="Add Item">
          </fieldset>
        </form> --}}

        <p>Here are your items:</p>
        <ul>
          {{#each theProducts}}
          <ul><li>{{this.category_id}}</li></ul>
            <li>{{this.category_id}}</li>
            <li>{{this.products_id}}</li>
          {{/each}} 
        </ul>
      </div> 
    </div>
</main> 

</body>

</html>